version: 2

updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "monday"
          time: "08:00"
          timezone: "Asia/Jakarta"
      open-pull-requests-limit: 10
      reviewers:
          - "naruyaizumi"
      assignees:
          - "naruyaizumi"
      labels:
          - "dependencies"
          - "automated"
      commit-message:
          prefix: "chore(deps)"
          include: "scope"
      groups:
          minor-and-patch:
              patterns:
                  - "*"
              update-types:
                  - "minor"
                  - "patch"
      ignore:
          - dependency-name: "*"
            update-types: ["version-update:semver-major"]

    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
          day: "monday"
          time: "11:00"
          timezone: "Asia/Jakarta"
      open-pull-requests-limit: 5
      reviewers:
          - "naruyaizumi"
      assignees:
          - "naruyaizumi"
      labels:
          - "dependencies"
          - "ci-cd"
          - "automated"
      commit-message:
          prefix: "chore(ci)"
          include: "scope"
      groups:
          github-actions:
              patterns:
                  - "*"
